.banner {
  display: flex;
  justify-content: center;
  background-image: url("../assets/images/paws.png"),
    linear-gradient(to left, #8c30f5, #d6b1ff);
  background-blend-mode: multiply;
  background-position: center;
  background-size: contain;
  background-repeat: space;
}

.banner * {
  /* border: 1px solid blue; */
}

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.banner-info .heart {
  width: 6rem;
  margin-bottom: 3rem;
  align-self: flex-start;
}

.banner-info .dots {
  width: 3.5rem;
  margin-top: 3rem;
  align-self: flex-end;
}

.banner-info .text1,
.text2,
.text3 {
  display: block;
}

.banner-info .text1 {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #ffcc4c;
  margin-bottom: 1.4rem;
}

.banner-info .text2 {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffcc4c;
  margin-bottom: 1.4rem;
  background-color: #69467e;
  width: fit-content;
  padding: 0 0.6rem;
  border-radius: 0.4rem;
}

.banner-info .text3 {
  /* margin-left: 2rem; */
  font-family: "Baloo Chettan 2", cursive;
  font-size: 1rem;
  font-weight: 400;
  color: whitesmoke;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  background-image: url("../assets/images/animated_shape.svg");
  background-size: cover;
}

.info-img {
  display: flex;
  align-items: flex-end;
}

.info-img img {
  height: 25rem;
}

.info .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 21.875rem;
  text-align: center;
  flex: 1;
}

.info .info-text h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info .info-text p {
  font-weight: 300;
  color: #2a2b30;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.info .info-text a {
  font-weight: 400;
  color: #8c30f5;
  font-size: 0.8rem;
}

@media screen and (min-width: 50em) {
  .info {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .info .info-text {
    order: 1;
    text-align: left;
  }

  .info-img {
    align-self: stretch;
  }

  .info-img img {
    max-height: calc(100% - 4rem);
    height: auto;
  }
}
